<!DOCTYPE html>
<html>
<head>
	<title>HRC | ACADEMY</title>

	<!--/tags -->
	  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
	<div class="header" id="home">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="index.html">
							<img src="images/logo.png" width="120" height="50">
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li ><a href="/" class="effect-3">Home</a></li>
								<li class="dropdown">

									<!-- INGAT KSH NAMA HTML KEMANA-->

									<a href="/jobs" class="effect-3">Opportunities</a>

								</li>
								 <li class="active"><a href="/academy" class="effect-3">Academy</a></li>

								
								<li><a href="/about" class="effect-3">About Us</a></li>

								<li class="dropdown">
									<a  href="/company" class="effect-3" style="color: 	#0080ff">|  Company</a>
									
								</li>

					<li>
					<div class="dropdown" >
						<% if (image_user === undefined) { %>
							<img  src="images/profile-icon.png" width="33" height="33" >
						<% } else { %>
							<img src="<%= image_user %>" width="33" height="33">
						 <% } %>

 						<div class="dropdown-content">

 						<h3>Sign In</h3>

 						<hr>
  							<% include partials/header %>
						</div>
					</div>

					</li>


							</ul>
						</nav>
					</div>


					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
<hr style="margin-bottom: 0;">

	<div class="inner_page_agile">
		<h3>Academy</h3>
		<p>The place where you can learn and discuss.</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/"> < Back</a><span>|</span></li>
				<li>Academy</li>
			</ul>
		</div>
	</div>

<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
		<h1>Academy List</h1>
			<div class="inner_sec_grids_info_w3ls">
					<div class="but_list">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6>Jenjang Pelatihan</h6>
												<p><span class="m_2">Jenjang pelatihan satpam ada 3 tingkat yaitu :</span>
												 1.Dasar (Gada Pratama)
												<br>2.Penyelia (Gada Madya)
												<br>3.Manajer Keamanan (Gada Utama)</p>
												<ul class="links_bottom">

													<li class="last"><a href="/academy/detail/1"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									

									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">Behaviour Training</a>
												<p><span >DO IT adalah salah satu metode yang dapat digunakan untuk mengidentifikasi dan mengubah perilaku pekerja dalam proses behavior based-safety (BBS).</span>
												 </p>
												<ul class="links_bottom">

													<li class="last"><a href="academy/detail/3"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>

									


								</div></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>



<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">

			<div class="col-md-4 footer_grid">
				<h3>About HRC</h3>
				<p>HR Companion (HRC) is a platform which connects job-seeker and employee-seeker company to make easier and faster working flow. We also provide academy page for our employee-to-be in order to improve their knowledge and skills. Besides, we also provide Quick Hiring for company's emergency situation.
				<a href="/about">More »</a>
				</p>
			</div>
			
			<div class="col-md-6 footer_grid" style="padding-left: 250px">
				<h3>Contact Us</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>HRC Head Office<span>Jalan Kapten Maulana Lubis No. 88</span><span>Medan, Indonesia</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">hrcindo@gmail.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+62-818-100-888</li>
				</ul>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">

			<div class="footer_bottom">
				<div class="col-md-9 footer_bottom_grid">
					<div class="footer_bottom1">
						<a class="navbar-brand" href="/">
							<img src="images/logo2.png" width="100" height="45">
						</a>
					</div>
				</div>
				<div class="col-md-3 footer_bottom_grid">
					<h6>Follow Us</h6>
					<div class="social">
						<ul>
							<li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
							<li><a href="www.rss.com"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>
