<!DOCTYPE html>
<html>
<head>
	<title>HRC | ACADEMY INFORMATION</title>

	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
	<div class="header" id="home">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="/">
							<img src="/images/logo.png" width="120" height="50">
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li ><a href="/" class="effect-3">Home</a></li>
								<li class="dropdown">

									<!-- INGAT KSH NAMA HTML KEMANA-->

									<a href="/opportunities" class="effect-3">Opportunities</a>

								</li>
								<li class="active"><a href="/academy" class="effect-3">Academy</a></li>

								
								<li><a href="/about" class="effect-3">About Us</a></li>

								<li class="dropdown">
									<a  href="/company" class="effect-3" style="color: 	#0080ff">|  Company</a>
									
								</li>

					<li>
					<div class="dropdown" >
						<% if (image_user === undefined) { %>
							<img  src="/images/profile-icon.png" width="33" height="33" >
						<% } else { %>
							<img src="<%= image_user %>" width="33" height="33">
						 <% } %>

 						<div class="dropdown-content">

 						<h3>Sign In</h3>

 						<hr>
  							<% include partials/header %>
						</div>
					</div>

					</li>


							</ul>
						</nav>
					</div>


					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>

	<div class="inner_page_agile">
		<h3>Academy Information</h3>
		<p>Read. Understand. Apply</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/academy"> < Back </a><span>|</span></li>
				<li>Academy Information</li>
			</ul>
		</div>
	</div>

<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle" style="float: left;">Behaviour Based Safety</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="single-left1">
						<img src="images/banner3.jpg" alt=" " class="img-responsive" />
						<ul>
							<li style="    padding-left: 450px;
    padding-top: 20px;"><span class="fa fa-user" aria-hidden="true"></span><a href="#">Ismail</a></li>
						</ul>
						<p>
						DO IT adalah salah satu metode yang dapat digunakan untuk mengidentifikasi dan mengubah perilaku pekerja dalam proses behavior based-safety (BBS). Jika anda menerapkan BBS, tentu saja tujuannya adalah untuk merubah perilaku pekerja yang tidak aman (unsafe act) menjadi perilaku pekerja yang aman (safe act). Kelihatannya mudah, tapi jika dilaksanakan ternyata tidak mudah untuk merubah perilaku seseorang didalam bekerja, apalagi yang akan dirubah adalah perilaku banyak orang didalam perusahaan.<br>

Sebelum kita berbicara mengenai DO IT, alangkah baiknya kita lihat dulu apa definisi dari perilaku (behavior), definisi perilaku menurut wikipedia adalah sebagai berikut: “Perilaku manusia adalah sekumpulan perilaku yang dimiliki oleh manusia dan dipengaruhi oleh adat, sikap, emosi, nilai, etika, kekuasaan, persuasi, dan/atau genetika. Perilaku seseorang dikelompokkan ke dalam perilaku wajar, perilaku dapat diterima, perilaku aneh, dan perilaku menyimpang.Dalam sosiologi, perilaku dianggap sebagai sesuatu yang tidak ditujukan kepada orang lain dan oleh karenanya merupakan suatu tindakan sosial manusia yang sangat mendasar. Perilaku tidak boleh disalahartikan sebagai perilaku sosial, yang merupakan suatu tindakan dengan tingkat lebih tinggi, karena perilaku sosial adalah perilaku yang secara khusus ditujukan kepada orang lain. Penerimaan terhadap perilaku seseorang diukur relatif terhadap norma sosial dan diatur oleh berbagai kontrol sosial. Dalam kedokteran perilaku seseorang dan keluarganya dipelajari untuk mengidentifikasi faktor penyebab, pencetus atau yang memperberat timbulnya masalah kesehatan. Intervensi terhadap perilaku seringkali dilakukan dalam rangka penatalaksanaan yang holistik dan komprehensif”.<br>

Secara sederhana penulis lebih cenderung mendefinisikan perilaku dalam K3 adalah segala aktifitas atau tindakan yang dapat dilihat atau diamati orang lain. Contoh, pekerja yang melakukan aktifitas produksi, berjalan, menyebrang, naik tangga, duduk, berlari, memakai APD dalam bekerja, dan lain-lain,  semua itu merupakan perilaku seseorang. Dalam program BBS tentu saja yang menjadi target adalah perilaku-perilaku tidak aman yang harus diubah. Misalnya naik tangga tanpa memegang hand rail, menyebrang disembarang tempat, berjalan dijalur forklift, posisi duduk yang tidak ergonomis, memotong jalur proses produksi, bekerja tidak sesuai SOP, dsb. Didalam buku psikologi safety yang ditulis oleh E.Scott Geller dijelaskan bahwa salah satu metoda yang dapat digunakan untuk mengidentifikasi dan merubah perilaku-perilaku yang kritikal adalah dengan mentoda DO IT.<br>

DO IT merupakan singkatan dari:

D = Define
O = Observe
I = Intervene
T = Test</p>

<h5>Define</h5><p>
Tahapan pertaman yang harus dilakukan dalam program BBS adalah mendefinisikan atau menentukan target-target perilaku dari pekerja yang akan dihilangkan/diperbaiki atau ditingkatkan/dipertahankan. Meskipun pada umumnya yang menjadi prioritas adalah perilaku tidak aman, namun dapat juga ditentukan perilaku-perilaku aman yang harus dipertahankan atau ditingkatkan. Dalam menentukan target perilaku yang akan dimasukkan kedalam program BBS. Bagaimana cara menentukan perilaku mana yang akan menjadi target? Ada beberapa metode yang dapat dilakukan untuk menentukan perilaku yang menjadi target, yaitu:<br> <br>

Brainstorming dengan metode KJ analisis; beberapa orang yang mewakili departemen dan tingkat jabatan dimintai masukkannya terhadap perilaku-perilaku tidak aman yang dilakukan oleh pekerja dengan cara menuliskan diatas potongan kertas (Post It).
Grup diskusi dengan beberapa orang yang mewakili setiap departemen atau bagian.
Analisis terhadap berbagai penyebab kecelakaan yang pernah terjadi.
Berdasarkan temuan audit K3.<br>
Bisa saja ditemukan atau diperoleh banyak sekali perilaku tidak aman dari proses tersebut diatas, namun pihak manajemen harus menentukan perilaku beresiko mana yang akan menjadi perioritas utama untuk masuk program BBS. Ruang lingkup program BBS juga harus ditentukan agar program BBS bisa menjadi lebih fokus dan efektif. Sebagai contoh:
<br><br>
Program 1: Perilaku yang menjadi target adalah cara mengemudi forklif yang tidak sesuai SOP. Ruang lingkupnya adalah semua pengemudi forklift dan jalur forklift di area pabrik.
<br><br>
Program 2: Perilaku penggunaan APD di area produksi. Ruang lingkup semua operator atau pekerja yang ada di produksi.</p>

<h5>Observe</h5><p>
Setelah ditentukan perilaku beresiko yang akan dijadikan target dalam program BBS, maka tahap selanjutnya dilakukan observasi atau pengamatan terhadap pekerja-pekerja diarea atau bagian yang sudah ditentukan. Pengamatan dapat dilakukan dengan dua cara, yaitu pengamatan terbuka dan pengamatan tertutup. Pengamatan terbuka maksudnya adalah pengamatan dilakukan secara langsung dan diketahui oleh yang diamati. Tentu saja metode ini seringkali akan mendapatkan hasil yang bias karena pekerja yang merasa diamati akan bekerja secara lebih hati-hati. Meskipun demikian pekerja yang sudah terbiasa berperilaku tidak aman akan tetap memunculkan perilaku tidak amanya. Pengamatan tertutup maksundya adalah pengamatan dilakukan secara diam-diam tanpa diketahui oleh pekerja yang diamati. Hal ini bisa dilakukan oleh pihak ke tiga atau pekerja didalam grup yang sama yang diminta secara khusus melakukan pengamatan sambil bekerja. Sangat tidak disarankan pengamatan dilakukan oleh atasan atau manajer, karena para pekerja yang diamati oleh atasan akan berusaha menghilangkan perilaku tidak aman mereka. Sebelum melakukan pengamatan, observer harus diberikan pengarahan dan penjelasan tentang apa yang harus diamati dan berapa lama pengamatan harus dilakukan. Dalam melakukan pengamatan terhadap perilaku pekerja harus;<br><br>

spesifik sesuai dengan yang sudah ditentukan atau didefinisikan,
perilaku tersebut harus teramati dan tidak boleh berasumsi, sehingga bisa diukur atau dihitung berapa kali tindakan tersebut dilakukan selama pengamatan.
pengamatan dan penilaian harus objektif, tidak boleh diinterpretasikan oleh pengamat, mencatat apa adanya sesuai yang dilihat.
Pengamatan harus pada pekerjaan yang normal berlangsung sehari-hari.
Dalam melakukan pengamatan juga harus disiapkan checklist aktifitas untuk setiap kegiatan yang dilakukan, sehingga pengamat tinggal hanya memberi tanda apakah kegiatan atau aktifitas dilakukan secara aman atau berisiko.</p>

<h5>Intervene</h5><p>
Setelah dilakukan pengamatan dan semua data-data observasi diolah, maka selanjutnya dilakukan intervensi untuk memperbaiki perilaku berisiko yang ditemukan dari hasil observasi. Dalam membuat program intervensi sebaiknya melibatkan pekerja diarea-area yang akan di intervensi. Masukan dari pekerja yang sehari-harinya melakukan aktifitas tersebut akan sangat penting dalam merancang program intervensi yang efektif. Dalam membuat program intervensi juga harus ditentukan berapa lama intervensi akan dilakukan agar terjadi perubahan yang diharapkan. Merubah perilaku bukanlah hal yang mudah, biasanya membutuhkan waktu dan kesabaran. Salah satu teknik intervensi dalam BBS adalah model intervensi ABC, yaitu intervensi melalui Activator, intervensi melalui Behavior dan intervensi melalui Consequency. Contoh:
<br><br>
Activator:  memasang safety sign, membuat garis atau jalur pejalan kaki, dsb.<br>
Behavior: mengendarai forklif dengan batasan kecepatan, dsb.<br>
Consequency : Scorsing, atau bentuk sanksi lainya (negatif), dsb.<br><br>
Program intervensi harus spesifik dan dijelaskan kepada semua pekerja yang terlibat didalamnya. Program intervensi juga harus didukung penuh oleh manajemen puncak agar dapat berjalan efektif.</p>

<h5>Test</h5><p>
Yang dimaksud test disini adalah mengukur dampak dari intervensi yang dilakukan dengan cara terus melakukan pengamatan dan pencatatan terhadap perilaku berisiko selama proses intervensi dilakukan. Tahapan ini dapat dilakukan secara paralel dengan tahapan intervensi, jika terlihat bahwa intervensi yang dilakukan tidak efektif maka dapat dilakukan intervensi baru atau strategi baru. Tujuan tahapan ini adalah untuk melihat efektifitas dari program intervensi yang dibuat, namun jangan terburu-buru untuk memutuskan bahwa satu program intervensi tidak efektif, seperti yang penulis sampaikan sebelumnya bahwa untuk merubah perilaku diperlukan waktu yang mungkin lama dari yang diperkirakan. Bisa juga ada faktor-faktor lain yang mempengaruhi perilaku berisko pekerja sehingga program intervensi menjadi kurang efektif. Jika demikian halnya, maka yang perlu dilakukan adalah menambah bentuk intervensi lain untuk memperkuat program intervensi yang sedang berjalan.</p>
					</div>

					

					
				</div>


				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>





<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">

			<div class="col-md-4 footer_grid">
				<h3>About HRC</h3>
				<p>HR Companion (HRC) is a platform which connects job-seeker and employee-seeker company to make easier and faster working flow. We also provide academy page for our employee-to-be in order to improve their knowledge and skills. Besides, we also provide Quick Hiring for company's emergency situation.
				<a href="/about">More »</a>
				</p>
			</div>
			<div class="col-md-6 footer_grid" style="padding-left: 250px">
				<h3>Contact Us</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>HRC Head Office<span>Jalan Kapten Maulana Lubis No. 88</span><span>Medan, Indonesia</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">hrcindo@gmail.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+62-818-100-888</li>
				</ul>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">

			<div class="footer_bottom">
				<div class="col-md-9 footer_bottom_grid">
					<div class="footer_bottom1">
						<a class="navbar-brand" href="/">
							<img src="/images/logo2.png" width="100" height="45">
						</a>
					</div>
				</div>
				<div class="col-md-3 footer_bottom_grid">
					<h6>Follow Us</h6>
					<div class="social">
						<ul>
							<li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
							<li><a href="www.rss.com"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>
