<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Login</title>
  </head>
  <body>
    <input type="button" value="Login As User"
    onclick="window.location='/login/user'"/>
    <input type="button" value="Login As Company"
    onclick="window.location='/login/company'"/>
  </body>
</html>
