<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Register</title>
  </head>
  <body>
    <input type="button" value="Register As User"
    onclick="window.location='/register/user'"/>
    <input type="button" value="Register As Company"
    onclick="window.location='/register/company'"/>
  </body>
</html>
